				@font-face {
					font-family: 'neue-machina-bold';
					src: url('/wp-content/uploads/useanyfont/9571Neue-Machina-Bold.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/9571Neue-Machina-Bold.woff') format('woff');
				}

				.neue-machina-bold{font-family: 'neue-machina-bold' !important;}

				.et_gf_neue-machina-bold{background:none !important;font-family:neue-machina-bold;text-indent:0 !important;font-size:25px;}

		