				@font-face {
					font-family: 'neue-machina-bold';
					src: url('/wp-content/uploads/useanyfont/9571Neue-Machina-Bold.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/9571Neue-Machina-Bold.woff') format('woff');
					font-display: auto;
				}

				.neue-machina-bold{font-family: 'neue-machina-bold' !important;}

		