/*
 Theme Name:     Divi Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/
 
 
/* =Theme customization starts here
------------------------------------------------------- */

@font-face { 
	font-family: NeueMachina-Bold; 
	src: url(http://fungalist.si/wp-content/themes/Divi/fonts/NeueMachina-Bold.otf); 
	font-weight: bold; 
}

.h1 { 
font-family: "NeueMachina-Bold", Arial, sans-serif; 
}

.et_pb_tabs_controls li {
	width: 25%;
	line-height: 2.5em;
}

.et_pb_tabs_controls li a {
	text-align: center;
}